body {
	background-image: url(http://orig15.deviantart.net/888f/f/2012/326/8/3/4_wolves___wolf_pack_by_resresres-d5lrvai.jpg);
	background-size: 100%;
}

.title {
	 color: #66b3ff;
	 text-align: center;
}

.top-title{
    padding:
    padding: 8% 0 5% 0; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: transparent;
}

li a {
    display: block;
    color: #66b3ff;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
